<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lyj.lotterinfrastructure.gateway.impl.mapper.ActivityRuleMapper">

    <resultMap id="BaseResultMap" type="com.lyj.lotterinfrastructure.gateway.impl.dataobject.ActivityRuleDB">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="activityId" column="activity_id" jdbcType="BIGINT"/>
        <result property="ruleId" column="rule_id" jdbcType="BIGINT"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        ,activity_id,rule_id,
        create_time,update_time
    </sql>

    <delete id="deleteByActivityId">
        delete from activity_rule ar
        <where>
            ar.activity_id = #{activityId}
        </where>
    </delete>

    <select id="list" resultType="com.lyj.lotterinfrastructure.gateway.impl.dataobject.ActivityRuleDB">
        select
        <include refid="Base_Column_List"/>
        from activity_rule ar
        <where>
            <if test="query.activityId != null">
                and ar.activity_id = #{query.activityId}
            </if>
        </where>
    </select>
</mapper>
